* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: rgb(228, 228, 231);
  padding: 0 16px;
}

.container {
  background-color: rgb(250, 250, 250);
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  max-width: 960px;
  margin: 40px auto;
}

.cards-container {
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 28px;
}

.card {
  width: 350px;
  background-color: rgb(241, 245, 249);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-radius: 6px;
  overflow: hidden;
}

.card-info {
  padding: 16px;
}

.card-text {
  color: rgb(82, 82, 91);
}

.card-titulo {
  margin-bottom: 10px;
  font-size: 28px;
}

.card img {
  max-width: 100%;
}
